################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CreationalDesignPattern/.vs/CreationalDesignPattern/FileContentIndex/4dc2277e-e076-461f-8eee-96e31dd06166.vsidx
/CreationalDesignPattern/.vs/CreationalDesignPattern/FileContentIndex/7626d523-1abe-42c7-8462-ca8e97402395.vsidx
/CreationalDesignPattern/.vs/CreationalDesignPattern/FileContentIndex/e0533c9d-e594-47a7-ac0c-951e22665019.vsidx
